{{ ansible_managed | comment }}

PEER_LISTEN_ADDR=0.0.0.0:3000
SSH_LISTEN_ADDR=0.0.0.0:22
WEB_LISTEN_ADDR=0.0.0.0:443
WEB_TLS_CERT_PATH=/etc/terminal-games/certs/terminalgames.net.crt
WEB_TLS_KEY_PATH=/etc/terminal-games/certs/terminalgames.net.key
MESH_PINNED_PEM={{ MESH_PINNED_PEM }}
MESH_PINNED_PEM_BASE64={{ MESH_PINNED_PEM }}
LIBSQL_AUTH_TOKEN={{ LIBSQL_AUTH_TOKEN }}
LIBSQL_URL={{ LIBSQL_URL }}
SSH_HOST_KEY_BASE64={{ SSH_HOST_KEY_BASE64 }}
MAX_ACTIVE_APPS={{ hostvars[inventory_hostname].max_active_apps }}
REGION_ID={{ hostvars[inventory_hostname].region_id }}
PEER_NODES={% for peer in groups['all'] if peer != inventory_hostname %}{{ hostvars[peer].region_id }}:{{ hostvars[peer].ansible_host }}:3000{% if not loop.last %},{% endif %}{% endfor %}
